<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/b98a4ecc-db16-46cc-9fdd-d725310cda6a/resourceGroups/say/providers/Microsoft.ContainerRegistry/registries/newaks</ResourceId>
    <ResourceName>newaks</ResourceName>
    <ResourceGroup>say</ResourceGroup>
    <Subscription>z10-ps-dev</Subscription>
    <RegistryUrl>newaks.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>2de9eda1-f149-416c-b68a-3e85d1b30ec2</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>